* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    margin: 25vh 0;
}


#scoreboard {
    height: fit-content;
}

#players-sec {
/*flexbox container*/
    display: flex;
    justify-content: center;
    align-items: center;

/*layout*/
    width: 100%;
    height: fit-content;
}

#home-sec, #guest-sec {
/*layout*/
    width: 100%;
    height: fit-content;
    text-align: center;
}

#home-title, #guest-title {
/*layout*/
    width: fit-content;
    margin: 0 auto;
    margin-bottom: .3em;

/*Typography*/
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;

/*style*/
    color: #eeeeee;
    opacity: .9;
}

#home-points, #guest-points {
/*layout*/
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: .15em;

/*Typography*/
    font-size: 4.5rem;
    font-family: 'Cursed Timer ULiL', sans-serif;

/*styles*/
    color: #F94F6D;
    background-color: #1b1b3253;
    opacity: .9;
}

button {
/*layout*/
    width: 40px;
    height: 40px;

/*Typography*/
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: .8rem;
    border-radius: 15px;

/*styles*/
    border: solid 3px #cea28895;
    background-color: #aa9ca1a1;
    color: #eeeeeeb7;
}

#new-game-sec {
/*layout*/
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

#new-game-btn {
/*layout*/
    width: 90px;
    height: 50px;
    margin-top: 2em;

/*styles*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
}


/*setting up the media queries 🖥💻📱*/


@media screen and (min-width: 334px) {
    #home-title, #guest-title {
        font-size: 3rem;
    }
    #home-points, #guest-points {
        font-size: 6rem;
    }
    button {
        width: 50px;
        height: 50px;
    }
    #new-game-btn {
        font-size: 1rem;
    }
}


@media screen and (min-width: 600px) {
    #home-title, #guest-title {
        font-size: 3.5rem;
        }
        #home-points, #guest-points {
            font-size: 7rem;
    }
    button {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }
}


@media screen and (min-width: 868px) {
    #home-title, #guest-title {
        font-size: 4.2rem;
    }

    #home-points, #guest-points {
        font-size: 7.5rem;
}
button {
    margin-right: 5px;
    font-size: 1rem;
}
}
